<h3>Pragmatic order shipped</h3>
<p>This is just to let you know that we've shipped your recent oder</p>
<table>
  <tr>
    <th colspan="2">Quantity</th>
    <th>Description</th>
  </tr>
  <%= render @order.line_items %>
</table>
